.contenainers {
    height: auto;
    width: 100%;
    margin-left: 10px;
    background: #f5f5f5;
    margin-top: 7px;
}

.monfor {
    width: 40%;
    margin: auto;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    color: #1b7bbb;
    
}

#anneeScolaireInput {
    width: 40%;
}

.row {
    margin: 10px 10px 10px 10px;
   

}

.card{
    margin-bottom: 20px;
}
.jca {
    justify-content: space-around;
    gap: 10px;
}
.error-message{
    color: red;
}
