* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(190, 185, 185);
    height: 100vh;
    background: gray;
}

.dflex {
    display: flex;
}

.jcc {
    justify-content: center;
}
.jsa{
    justify-content:space-around;
}

.aic {
    align-items: center;
}

.fdc {
    flex-direction: column;
}

header {
    height: 20%;
    background-color: aliceblue;
}

.entete {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid gray;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    justify-content: space-around;
}

.logo {
    width: 100px;
    height: 70px;
    background: transparent;
    margin-left: 30px;
}

img {
    width: 100%;
}

nav {
    margin-left: 50px;
}

.info {
    padding-top: 30px;
    justify-content: space-around;
    gap: 20px;
    width: 50%;
}

i {
    color: #1b7bbb;
}

span {
    color: #1b7bbb;
    margin-left: 5px;

}

.container {
    height: 80%;
    width: 100%;
}